<%- include('../partials/header', { title: 'Relatórios de Inicialização' }) %>
<h2>Relatórios de Inicialização</h2>
<ul>
  <% relatorios.forEach(relatorio => { %>
  <li>
    Eleição ID: <%= relatorio.eleicao_id %> - Data/Hora Abertura: <%=
    relatorio.data_hora_abertura %> - Total Eleitores: <%=
    relatorio.total_eleitores %>
  </li>
  <% }) %>
</ul>
<%- include('../partials/footer') %>
