<%- include('../partials/header', { title: 'Liberação de Eleitores' }) %>
<h2>Liberação de Eleitores</h2>
<ul>
  <% liberacoes.forEach(liberacao => { %>
  <li>
    CPF Eleitor: <%= liberacao.cpf_eleitor %> - Status: <%=
    liberacao.status_liberacao %> - Data/Hora Início: <%=
    liberacao.data_hora_inicio %> - Eleição ID: <%= liberacao.eleicao_id %> -
    Usuário: <%= liberacao.usuario_liberacao %>
  </li>
  <% }) %>
</ul>
<%- include('../partials/footer') %>
